In [3]:
import pandas as pd

In [1]:
def load_olist_data_clean():
    closed_deals = pd.read_csv('Data/closed_deals_cleaned.csv')
    customers = pd.read_csv('Data/customers_cleaned.csv')
    geolocation = pd.read_csv('Data/geolocation_cleaned.csv')
    marketing_ql = pd.read_csv('Data/marketing_ql_cleaned.csv')
    order_customer = pd.read_csv('Data/order_customer_cleaned.csv')
    order_items = pd.read_csv('Data/order_items_cleaned.csv')
    order_payments = pd.read_csv('Data/order_payments_cleaned.csv')
    order_reviews = pd.read_csv('Data/order_reviews_cleaned.csv')
    order_status = pd.read_csv('Data/order_status_cleaned.csv')
    orders = pd.read_csv('Data/orders_cleaned.csv')
    prod_price = pd.read_csv('Data/prod_price_cleaned.csv')
    products_trans = pd.read_csv('Data/product_category_name_translation.csv')
    products = pd.read_csv('Data/products.csv')
    sellers = pd.read_csv('Data/sellers_cleaned.csv')
    return pd.concat([closed_deals,customers,geolocation,marketing_ql,order_customer,
                      order_items,order_payments,order_reviews,order_status,
                      orders,prod_price,products_trans,products,sellers], axis = 0)

In [4]:
data_clean = load_olist_data_clean()

In [14]:
data_clean = data_clean.loc[:, ~data_clean.columns.str.contains('^Unnamed')]

In [15]:
data_clean

,sdr_id,sr_id,business_segment,lead_type,business_type,declared_product_catalog_size,declared_monthly_revenue,customer_unique_id,customer_city,customer_state,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_id,seller_city,seller_state
0,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,pet,online_medium,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,car_accessories,industry,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,home_appliances,online_big,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,food_drink,online_small,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,home_appliances,industry,manufacturer,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98dddbc4601dd4443ca174359b237166,sarandi,PR
3091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f8201cab383e484733266d1906e2fdfa,palhoca,SC
3092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74871d19219c7d518d0090283e03c137,sao paulo,SP
3093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e603cf3fec55f8697c9059638d6c8eb5,pelotas,RS
3094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9e25199f6ef7e7c347120ff175652c3b,taubate,SP

In [7]:
clean_data.dropna()

,Unnamed: 0,sdr_id,sr_id,business_segment,lead_type,business_type,declared_product_catalog_size,declared_monthly_revenue
0,0,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,pet,online_medium,reseller,NaN,0.0
1,1,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,car_accessories,industry,reseller,NaN,0.0
2,2,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,home_appliances,online_big,reseller,NaN,0.0
3,3,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,food_drink,online_small,reseller,NaN,0.0
4,4,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,home_appliances,industry,manufacturer,NaN,0.0
...,...,...,...,...,...,...,...,...
837,837,45749fb708130f78d0db07d8d80f030b,a8387c01a09e99ce014107505b92388c,home_decor,offline,reseller,NaN,0.0
838,838,370c9f455f93a9a96cbe9bea48e70033,4b339f9567d060bcea4f5136b9f5949e,construction_tools_house_garden,online_big,reseller,132.0,200000.0
839,839,370c9f455f93a9a96cbe9bea48e70033,a8387c01a09e99ce014107505b92388c,computers,online_medium,reseller,NaN,0.0
840,840,068066e24f0c643eb1d089c7dd20cd73,d3d1e91a157ea7f90548eef82f1955e3,pet,online_beginner,reseller,NaN,0.0
841,841,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,household_utilities,industry,manufacturer,NaN,0.0