# Importing Data

In [2]:
import pandas as pd

In [2]:
closed_deals = pd.read_csv('Data/closed_deals.csv')

In [3]:
customers = pd.read_csv('Data/customers.csv')

In [4]:
geolocation = pd.read_csv('Data/geolocation.csv')

In [5]:
marketing_ql = pd.read_csv('Data/marketing_qualified_leads.csv')

In [3]:
order_customer = pd.read_csv('Data/order_costumer_items_paids.csv')

In [5]:
order_items = pd.read_csv('Data/order_items.csv')

In [8]:
order_payments = pd.read_csv('Data/order_payments.csv')

# Checking for standardized column names

In [9]:
closed_deals['lead_behaviour_profile'].head()

0      cat
1    eagle
2      cat
3      NaN
4     wolf
Name: lead_behaviour_profile, dtype: object

# Removing duplicates

In [10]:
closed_deals = closed_deals.drop_duplicates()

In [11]:
customers = customers.drop_duplicates()

In [12]:
geolocation = geolocation.drop_duplicates()

In [13]:
marketing_ql = marketing_ql.drop_duplicates()

In [14]:
order_customer = order_customer.drop_duplicates()

In [6]:
order_items = order_items.drop_duplicates()

In [16]:
order_payments = order_payments.drop_duplicates()

# Deleting/Rearranging Colums

In [17]:
closed_deals.head()

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0

In [70]:
closed_deals = closed_deals.drop(['won_date', 'lead_behaviour_profile'], axis = 1)

KeyError: "['won_date', 'lead_behaviour_profile'] not found in axis"

In [73]:
closed_deals = closed_deals.drop(['mql_id','seller_id'], axis = 1)

KeyError: "['mql_id'] not found in axis"

In [74]:
closed_deals = closed_deals.drop(['seller_id'], axis = 1)

In [20]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [21]:
customers = customers.drop(['customer_zip_code_prefix'], axis = 1)

In [22]:
customers = customers.drop(['customer_id'], axis = 1)

In [23]:
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [24]:
geolocation = geolocation.drop(['geolocation_zip_code_prefix', 'geolocation_city'], axis = 1)

In [25]:
marketing_ql.head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

In [26]:
marketing_ql = marketing_ql.drop(['landing_page_id'], axis = 1)

In [27]:
order_customer.head()

,order_id,customer_city,customer_id,order_status,order_item_id,price,freight_value,final_price
0,f11b36b3bc7bacf06deef862ed611f02,guaruja,ae8db0691449a44352e7d535ddf78c5e,delivered,1,109.9,14.86,124.76
1,0daf1f0e67b534ad873ba61c5d6ad7d3,rio de janeiro,1681471e9172d7e12ba08e9ac9e8628b,delivered,1,135.0,18.20,153.20
2,4a5cc9b4e332e03d76bf553a7f2fa5d3,belford roxo,a4a00c41b5e3ed88bf0e0bb96576c2b2,delivered,1,159.9,16.88,176.78
3,47770eb9100c2d0c44946d9cf07ec65d,vianopolis,41ce2a54c0b03bf3443c3d931a367089,delivered,1,159.9,19.22,179.12
4,5f69f6bf68dce110479aa0bb515b47c8,ribeirao pires,4cd274ce8ba240b1cff6480fa9911df1,delivered,1,30.0,8.72,38.72

In [28]:
order_customer = order_customer.drop(['order_id', 'customer_city', 'customer_id'], axis = 1)

In [29]:
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [7]:
order_items = order_items.drop(['order_id', 'seller_id'], axis = 1)

In [31]:
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [32]:
order_payments = order_payments.drop(['order_id'], axis = 1)

# Checking for data types

In [33]:
closed_deals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 841
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   seller_id                      842 non-null    object
 1   sdr_id                         842 non-null    object
 2   sr_id                          842 non-null    object
 3   business_segment               841 non-null    object
 4   lead_type                      836 non-null    object
 5   has_company                    63 non-null     object
 6   has_gtin                       64 non-null     object
 7   average_stock                  66 non-null     object
 8   business_type                  832 non-null    object
 9   declared_product_catalog_size  69 non-null     float64
 10  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(9)
memory usage: 78.9+ KB

# Searching for missing values

In [34]:
closed_deals.isnull()

,seller_id,sdr_id,sr_id,business_segment,lead_type,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,False,False,False,False,False,True,True,True,False,True,False
1,False,False,False,False,False,True,True,True,False,True,False
2,False,False,False,False,False,True,True,True,False,True,False
3,False,False,False,False,False,True,True,True,False,True,False
4,False,False,False,False,False,True,True,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
837,False,False,False,False,False,True,True,True,False,True,False
838,False,False,False,False,False,True,True,True,False,False,False
839,False,False,False,False,False,True,True,True,False,True,False
840,False,False,False,False,False,True,True,True,False,True,False
841,False,False,False,False,False,True,True,True,False,True,False

In [35]:
closed_deals = closed_deals.drop(['has_company', 'has_gtin', 'average_stock'], axis = 1)

In [36]:
customers.isnull()

       customer_unique_id  customer_city  customer_state
0                   False          False           False
1                   False          False           False
2                   False          False           False
3                   False          False           False
4                   False          False           False
...                   ...            ...             ...
99436               False          False           False
99437               False          False           False
99438               False          False           False
99439               False          False           False
99440               False          False           False

[99441 rows x 3 columns]

In [37]:
geolocation.isnull()

         geolocation_lat  geolocation_lng  geolocation_state
0                  False            False              False
1                  False            False              False
2                  False            False              False
3                  False            False              False
4                  False            False              False
...                  ...              ...                ...
1000155            False            False              False
1000156            False            False              False
1000157            False            False              False
1000158            False            False              False
1000161            False            False              False

[738327 rows x 3 columns]

In [38]:
geolocation = geolocation.dropna()

In [39]:
marketing_ql.isnull()

      mql_id  first_contact_date  origin
0      False               False   False
1      False               False   False
2      False               False   False
3      False               False   False
4      False               False   False
...      ...                 ...     ...
7995   False               False   False
7996   False               False   False
7997   False               False   False
7998   False               False   False
7999   False               False   False

[8000 rows x 3 columns]

In [40]:
order_customer.isnull()

        order_status  order_item_id  price  freight_value  final_price
0              False          False  False          False        False
1              False          False  False          False        False
2              False          False  False          False        False
3              False          False  False          False        False
4              False          False  False          False        False
...              ...            ...    ...            ...          ...
111380         False          False  False          False        False
111381         False          False  False          False        False
111382         False          False  False          False        False
111383         False          False  False          False        False
111384         False          False  False          False        False

[111385 rows x 5 columns]

In [10]:
order_items.isnull()

        order_item_id  product_id  shipping_limit_date  price  freight_value
0               False       False                False  False          False
1               False       False                False  False          False
2               False       False                False  False          False
3               False       False                False  False          False
4               False       False                False  False          False
...               ...         ...                  ...    ...            ...
112645          False       False                False  False          False
112646          False       False                False  False          False
112647          False       False                False  False          False
112648          False       False                False  False          False
112649          False       False                False  False          False

[112650 rows x 5 columns]

In [43]:
order_payments.isnull()

        payment_sequential  payment_type  payment_installments  payment_value
0                    False         False                 False          False
1                    False         False                 False          False
2                    False         False                 False          False
3                    False         False                 False          False
4                    False         False                 False          False
...                    ...           ...                   ...            ...
103881               False         False                 False          False
103882               False         False                 False          False
103883               False         False                 False          False
103884               False         False                 False          False
103885               False         False                 False          False

[103886 rows x 4 columns]

# Dividing Data in numerials and categorials

In [75]:
closed_deals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 841
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   sdr_id                         842 non-null    object
 1   sr_id                          842 non-null    object
 2   business_segment               841 non-null    object
 3   lead_type                      836 non-null    object
 4   business_type                  832 non-null    object
 5   declared_product_catalog_size  69 non-null     float64
 6   declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(5)
memory usage: 52.6+ KB

In [76]:
closed_deals.to_csv("closed_deals_cleaned.csv")

In [45]:
closed_deals_numericals = closed_deals._get_numeric_data()

In [46]:
closed_deals_numericals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 841
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   declared_product_catalog_size  69 non-null     float64
 1   declared_monthly_revenue       842 non-null    float64
dtypes: float64(2)
memory usage: 19.7 KB

In [47]:
closed_deals_categoricals = closed_deals.drop(['declared_product_catalog_size', 'declared_monthly_revenue'], axis = 1)

In [48]:
closed_deals_categoricals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 841
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   seller_id         842 non-null    object
 1   sdr_id            842 non-null    object
 2   sr_id             842 non-null    object
 3   business_segment  841 non-null    object
 4   lead_type         836 non-null    object
 5   business_type     832 non-null    object
dtypes: object(6)
memory usage: 46.0+ KB

In [49]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_unique_id  99441 non-null  object
 1   customer_city       99441 non-null  object
 2   customer_state      99441 non-null  object
dtypes: object(3)
memory usage: 3.0+ MB

In [50]:
customers_numerical = []

In [51]:
customers_categorical = customers

In [77]:
customers.to_csv("customers_cleaned.csv")

In [52]:
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 738327 entries, 0 to 1000161
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   geolocation_lat    738327 non-null  float64
 1   geolocation_lng    738327 non-null  float64
 2   geolocation_state  738327 non-null  object
dtypes: float64(2), object(1)
memory usage: 22.5+ MB

In [78]:
geolocation.to_csv("geolocation_cleaned.csv")

In [53]:
marketing_ql.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 7999
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   origin              7940 non-null   object
dtypes: object(3)
memory usage: 250.0+ KB

In [81]:
marketing_ql.to_csv("marketing_ql_cleaned.csv")

In [54]:
marketing_ql_numericals = []

In [55]:
marketing_ql_categoricals = marketing_ql

In [56]:
order_customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111385 entries, 0 to 111384
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_status   111385 non-null  object
 1   order_item_id  111385 non-null  int64
 2   price          111385 non-null  float64
 3   freight_value  111385 non-null  float64
 4   final_price    111385 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 5.1+ MB

In [82]:
order_customer.to_csv("order_customer_cleaned.csv")

In [57]:
order_customer['order_item_id'] = order_customer['order_item_id'].astype(str)

In [58]:
order_customer_numericals = order_customer._get_numeric_data()

In [59]:
order_customer_numericals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111385 entries, 0 to 111384
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   price          111385 non-null  float64
 1   freight_value  111385 non-null  float64
 2   final_price    111385 non-null  float64
dtypes: float64(3)
memory usage: 3.4 MB

In [60]:
order_customer_categoricals = order_customer.drop(['price', 'freight_value', 'final_price'], axis = 1)

In [61]:
order_customer_categoricals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111385 entries, 0 to 111384
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_status   111385 non-null  object
 1   order_item_id  111385 non-null  object
dtypes: object(2)
memory usage: 2.5+ MB

In [62]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_item_id        112650 non-null  int64
 1   product_id           112650 non-null  object
 2   shipping_limit_date  112650 non-null  object
 3   price                112650 non-null  float64
 4   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 5.2+ MB

In [83]:
order_items.to_csv("order_items_cleaned.csv")

In [ ]:
order_items

In [63]:
order_items_numerical = order_items._get_numeric_data()

In [64]:
order_items_numerical = order_items_numerical.drop(['freight_value'], axis = 1)

In [65]:
order_items_numerical = order_items_numerical.drop(['order_item_id'], axis = 1)

In [66]:
order_items_numerical.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   price   112650 non-null  float64
dtypes: float64(1)
memory usage: 1.7 MB

In [68]:
order_items_categorical = order_items.drop(['price', 'freight_value'], axis = 1)

In [69]:
order_items_categorical['order_item_id'] = order_items_categorical['order_item_id'].astype(str)

In [ ]:
order_items_categorical.info()

In [ ]:
order_payments.info()

In [ ]:
order_payments['payment_sequential'] = order_payments['payment_sequential'].astype(str)

In [ ]:
order_payments['payment_installments'] = order_payments['payment_installments'].astype(str)

In [ ]:
order_payments.info()

In [ ]:
order_payments_numericals = order_payments._get_numeric_data()

In [ ]:
order_payments_numericals.info()

In [ ]:
order_payments_categoricals = order_payments.drop(['payment_value'], axis = 1)

In [ ]:
order_payments_categoricals.info()

In [84]:
order_payments.to_csv("order_payments_cleaned.csv")