In [3]:
import pandas as pd

In [26]:
def load_olist_data_clean():
    closed_deals = pd.read_csv('Data/closed_deals_cleaned.csv')
    customers = pd.read_csv('Data/customers_cleaned.csv')
    geolocation = pd.read_csv('Data/geolocation_cleaned.csv')
    marketing_ql = pd.read_csv('Data/marketing_ql_cleaned.csv')
    order_customer = pd.read_csv('Data/order_customer_cleaned.csv')
    order_items = pd.read_csv('Data/order_items_cleaned.csv')
    order_payments = pd.read_csv('Data/order_payments_cleaned.csv')
    order_reviews = pd.read_csv('Data/order_reviews_cleaned.csv')
    order_status = pd.read_csv('Data/order_status_cleaned.csv')
    orders = pd.read_csv('Data/orders_cleaned.csv')
    prod_price = pd.read_csv('Data/prod_price_cleaned.csv')
    products_trans = pd.read_csv('Data/product_category_name_translation.csv')
    products = pd.read_csv('Data/products_cleaned.csv')
    sellers = pd.read_csv('Data/sellers_cleaned.csv')
    return pd.concat([closed_deals,customers,geolocation,marketing_ql,order_customer,
                      order_items,order_payments,order_reviews,order_status,
                      orders,prod_price,products_trans,products,sellers], axis = 0)

In [27]:
data_clean = load_olist_data_clean()

In [28]:
data_clean = data_clean.loc[:, ~data_clean.columns.str.contains('^Unnamed')]

In [30]:
data_clean

,sdr_id,sr_id,business_segment,lead_type,business_type,declared_product_catalog_size,declared_monthly_revenue,customer_unique_id,customer_city,customer_state,...,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,cat_en,product_category_name_english,seller_id,seller_city,seller_state
0,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,pet,online_medium,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,car_accessories,industry,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,home_appliances,online_big,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,food_drink,online_small,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,home_appliances,industry,manufacturer,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98dddbc4601dd4443ca174359b237166,sarandi,PR
3091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f8201cab383e484733266d1906e2fdfa,palhoca,SC
3092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74871d19219c7d518d0090283e03c137,sao paulo,SP
3093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e603cf3fec55f8697c9059638d6c8eb5,pelotas,RS
3094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9e25199f6ef7e7c347120ff175652c3b,taubate,SP

In [22]:
data_clean.isna().any()

sdr_id                           True
sr_id                            True
business_segment                 True
lead_type                        True
business_type                    True
declared_product_catalog_size    True
declared_monthly_revenue         True
customer_unique_id               True
customer_city                    True
customer_state                   True
geolocation_lat                  True
geolocation_lng                  True
geolocation_state                True
mql_id                           True
first_contact_date               True
origin                           True
order_status                     True
order_item_id                    True
price                            True
freight_value                    True
final_price                      True
product_id                       True
shipping_limit_date              True
payment_sequential               True
payment_type                     True
payment_installments             True
payment_value                    True
review_score                     True
review_creation_date             True
review_answer_timestamp          True
Year                             True
product_category_name            True
category                         True
total_price                      True
order_id                         True
customer_id                      True
order_purchase_timestamp         True
order_approved_at                True
order_delivered_carrier_date     True
order_delivered_customer_date    True
order_estimated_delivery_date    True
cat_en                           True
product_category_name_english    True
seller_id                        True
seller_city                      True
seller_state                     True
dtype: bool

In [23]:
data_clean.dropna()

Empty DataFrame
Columns: [sdr_id, sr_id, business_segment, lead_type, business_type, declared_product_catalog_size, declared_monthly_revenue, customer_unique_id, customer_city, customer_state, geolocation_lat, geolocation_lng, geolocation_state, mql_id, first_contact_date, origin, order_status, order_item_id, price, freight_value, final_price, product_id, shipping_limit_date, payment_sequential, payment_type, payment_installments, payment_value, review_score, review_creation_date, review_answer_timestamp, Year, product_category_name, category, total_price, order_id, customer_id, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, cat_en, product_category_name_english, seller_id, seller_city, seller_state]
Index: []

[0 rows x 46 columns]

In [32]:
data_clean.drop_duplicates()

,sdr_id,sr_id,business_segment,lead_type,business_type,declared_product_catalog_size,declared_monthly_revenue,customer_unique_id,customer_city,customer_state,...,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,cat_en,product_category_name_english,seller_id,seller_city,seller_state
0,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,pet,online_medium,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,car_accessories,industry,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,home_appliances,online_big,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,food_drink,online_small,reseller,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,home_appliances,industry,manufacturer,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98dddbc4601dd4443ca174359b237166,sarandi,PR
3091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f8201cab383e484733266d1906e2fdfa,palhoca,SC
3092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74871d19219c7d518d0090283e03c137,sao paulo,SP
3093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e603cf3fec55f8697c9059638d6c8eb5,pelotas,RS
3094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9e25199f6ef7e7c347120ff175652c3b,taubate,SP

In [34]:
data_clean.to_csv("data_clean.csv")