In [18]:
import pandas as pd

In [13]:
def load_olist_data_total():
    closed_deals = pd.read_csv('Data/closed_deals.csv')
    customers = pd.read_csv('Data/customers.csv')
    geolocation = pd.read_csv('Data/geolocation.csv')
    marketing_ql = pd.read_csv('Data/marketing_qualified_leads.csv')
    order_customer = pd.read_csv('Data/order_customer_items_paid.csv')
    order_items = pd.read_csv('Data/order_items.csv')
    order_payments = pd.read_csv('Data/order_payments.csv')
    order_reviews = pd.read_csv('Data/order_reviews.csv')
    order_status = pd.read_csv('Data/order_status_year_price.csv')
    orders = pd.read_csv('Data/orders.csv')
    prod_price = pd.read_csv('Data/prod_cat_price.csv')
    products_trans = pd.read_csv('Data/products_category_name_translation.csv')
    products = pd.read_csv('Data/products.csv')
    sellers = pd.read_csv('Data/sellers.csv')
    return pd.concat([closed_deals,customers,geolocation,marketing_ql,order_customer,
                      order_items,order_payments,order_reviews,order_status,
                      orders,prod_price,products_trans,products,sellers], axis = 0)

In [14]:
load_olist_data_total()

ParserError: Error tokenizing data. C error: Expected 7 fields in line 1598, saw 8

In [33]:
# not working

pd.read_csv('Data/marketing_qualified_leads.csv')

     mql_id;"first_contact_date";"landing_page_id";"origin"
0     dac32acd4db4c29c230538b72f8dd87d;"2018-02-01 0...
1     8c18d1de7f67e60dbd64e3c07d7e9d5d;"2017-10-20 0...
2     b4bc852d233dfefc5131f593b538befa;"2018-03-22 0...
3     6be030b81c75970747525b843c1ef4f8;"2018-01-22 0...
4     5420aad7fec3549a85876ba1c529bd84;"2018-02-21 0...
...                                                 ...
7995  feaba3ffcd2ff97501696c7f9a42f41c;"2018-05-22 0...
7996  a79cb53cd009ab92e0143b92baa2407b;"2018-03-27 0...
7997  68f049a23ab109c6a0f6989bb9a02994;"2017-08-27 0...
7998  4f8c96e2509b984329044c6682c88ee9;"2017-10-06 0...
7999  8a6492305a5fbcdcdd1a7f5a90764c07;"2018-01-11 0...

[8000 rows x 1 columns]

In [35]:
#doesn't work

pd.read_csv('Data/order_customer_items_paid.csv')

       order_id;"customer_city";"customer_id";"order_status";"order_item_id";"price";"freight_value";"final_price"
0       f11b36b3bc7bacf06deef862ed611f02;"guaruja";"ae...
1       0daf1f0e67b534ad873ba61c5d6ad7d3;"rio de janei...
2       4a5cc9b4e332e03d76bf553a7f2fa5d3;"belford roxo...
3       47770eb9100c2d0c44946d9cf07ec65d;"vianopolis";...
4       5f69f6bf68dce110479aa0bb515b47c8;"ribeirao pir...
...                                                   ...
111380  b73095e1b4a660f696d90a6f5446b58c;"cotia";"f6f5...
111381  c205abf27ff07fddd3fa9a67037138e5;"nova friburg...
111382  847c66c29ee30c07503066b3d254f993;"sao mateus d...
111383  c8c684d11191f71210df7c6a22115def;"brasilia";"a...
111384  6e9f8d6156d8c37f0e0e6351908de639;"sao paulo";"...

[111385 rows x 1 columns]

In [36]:
# doesn't work
pd.read_csv('Data/order_items.csv')

       order_id;"order_item_id";"product_id";"seller_id";"shipping_limit_date";"price";"freight_value"
0       00010242fe8c5a6d1ba2dd792cb16214;1;"4244733e06...
1       00018f77f2f0320c557190d7a144bdd3;1;"e5f2d52b80...
2       000229ec398224ef6ca0657da4fc703e;1;"c777355d18...
3       00024acbcdf0a6daa1e931b038114c75;1;"7634da152a...
4       00042b26cf59d7ce69dfabb4e55b4fd9;1;"ac6c362306...
...                                                   ...
112645  fffc94f6ce00a00581880bf54a75a037;1;"4aa6014ece...
112646  fffcd46ef2263f404302a634eb57f7eb;1;"32e07fd915...
112647  fffce4705a9662cd70adb13d4a31832d;1;"72a3048385...
112648  fffe18544ffabc95dfada21779c9644f;1;"9c422a5191...
112649  fffe41c64501cc87c801fd61db3f6244;1;"350688d9dc...

[112650 rows x 1 columns]

In [37]:
# doesn't work

pd.read_csv('Data/order_payments.csv')

       order_id;"payment_sequential";"payment_type";"payment_installments";"payment_value"
0       b81ef226f3fe1789b1e8b2acac839d17;1;"credit_car...
1       a9810da82917af2d9aefd1278f1dcfa0;1;"credit_car...
2       25e8ea4e93396b6fa0d3dd708e76c1bd;1;"credit_car...
3       ba78997921bbcdc1373bb41e913ab953;1;"credit_car...
4       42fdf880ba16b47b59251dd489d4441a;1;"credit_car...
...                                                   ...
103881  0406037ad97740d563a178ecc7a2075c;1;"boleto";1;...
103882  7b905861d7c825891d6347454ea7863f;1;"credit_car...
103883  32609bbb3dd69b3c066a6860554a77bf;1;"credit_car...
103884  b8b61059626efa996a60be9bb9320e10;1;"credit_car...
103885  28bbae6599b09d39ca406b747b6632b1;1;"boleto";1;...

[103886 rows x 1 columns]

In [38]:
# dw

pd.read_csv('Data/order_status_year_price.csv')

ParserError: Error tokenizing data. C error: EOF inside string starting at row 155030

In [39]:
# dw

pd.read_csv('Data/orders.csv')

      order_id;"customer_id";"order_status";"order_purchase_timestamp";"order_approved_at";"order_delivered_carrier_date";"order_delivered_customer_date";"order_estimated_delivery_date"
0      e481f51cbdc54678b7cc49136f2d6af7;"9ef432eb6251...
1      53cdb2fc8bc7dce0b6741e2150273451;"b0830fb4747a...
2      47770eb9100c2d0c44946d9cf07ec65d;"41ce2a54c0b0...
3      949d5b44dbf5de918fe9c16f97b45f8a;"f88197465ea7...
4      ad21c59c0840e6cb83a9ceb5573f8159;"8ab97904e6da...
...                                                  ...
99436  9c5dedf39a927c1b2549525ed64a053c;"39bd1228ee81...
99437  63943bddc261676b46f01ca7ac2f7bd8;"1fca14ff2861...
99438  83c1379a015df1e13d02aae0204711ab;"1aa71eb04212...
99439  11c177c8e97725db2631073c19f07b62;"b331b74b18dc...
99440  66dea50a8b16d9b4dee7af250b4be1a5;"edb027a75a14...

[99441 rows x 1 columns]

In [40]:
#dw

pd.read_csv('Data/prod_cat_price.csv')

ParserError: Error tokenizing data. C error: EOF inside string starting at row 111024

In [41]:
# dw

pd.read_csv('Data/products_category_name_translation.csv')

   product_category_name;"product_category_name_english"
0                         beleza_saude;"health_beauty
1    \ninformatica_acessorios";"computers_accessories
2                                 \nautomotivo";"auto
3                  \ncama_mesa_banho";"bed_bath_table
4                \nmoveis_decoracao";"furniture_decor
..                                                ...
66                                 \nflores";"flowers
67       \nartes_e_artesanato";"arts_and_craftmanship
68            \nfraldas_higiene";"diapers_and_hygiene
69  \nfashion_roupa_infanto_juvenil";"fashion_chil...
70      \nseguros_e_servicos";"security_and_services"

[71 rows x 1 columns]

In [42]:
# dw

pd.read_csv('Data/products.csv')

      product_id;"product_category_name";"product_name_length";"product_description_length";"product_photos_qty";"product_weight_g";"product_length_cm";"product_height_cm";"product_width_cm"
0      1e9e8ef04dbcff4541ed26657ea517e5;"perfumaria";...
1      3aa071139cb16b67ca9e5dea641aaa2f;"artes";44;27...
2      96bd76ec8810374ed1b65e291975717f;"esporte_laze...
3      cef67bcfe19066a932b7673e239eb23d;"bebes";27;26...
4      9dc1a7de274444849c219cff195d0b71;"utilidades_d...
...                                                  ...
32946  a0b7d5a992ccda646f2d34e418fff5a0;"moveis_decor...
32947  bf4538d88321d0fd4412a93c974510e6;"construcao_f...
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c;"cama_mesa_ba...
32949  83808703fc0706a22e264b9d75f04a2e;"informatica_...
32950  106392145fca363410d287a815be6de4;"cama_mesa_ba...

[32951 rows x 1 columns]

In [45]:
pd.read_csv('Data/customers.csv')

      customer_id;"customer_unique_id";"customer_zip_code_prefix";"customer_city";"customer_state"
0      06b8999e2fba1a1fbc88172c00ba8bc7;"861eff4711a5...
1      18955e83d337fd6b2def6b18a428ac77;"290c77bc529b...
2      4e7b3e00288586ebd08712fdd0374a03;"060e732b5b29...
3      b2b6027bc5c5109e529d4dc6358b12c3;"259dac757896...
4      4f2d8ab171c80ec8364f7c12e35b23ad;"345ecd01c38d...
...                                                  ...
99436  17ddf5dd5d51696bb3d7c6291687be6f;"1a29b476fee2...
99437  e7b71a9017aa05c9a7fd292d714858e8;"d52a67c98be1...
99438  5e28dfe12db7fb50a4b2f691faecea5e;"e9f50caf99f0...
99439  56b18e2166679b8a959d72dd06da27f9;"73c2643a0a45...
99440  274fa6071e5e17fe303b9748641082c8;"84732c5050c0...

[99441 rows x 1 columns]

In [46]:
pd.read_csv('Data/products.csv')

      product_id;"product_category_name";"product_name_length";"product_description_length";"product_photos_qty";"product_weight_g";"product_length_cm";"product_height_cm";"product_width_cm"
0      1e9e8ef04dbcff4541ed26657ea517e5;"perfumaria";...
1      3aa071139cb16b67ca9e5dea641aaa2f;"artes";44;27...
2      96bd76ec8810374ed1b65e291975717f;"esporte_laze...
3      cef67bcfe19066a932b7673e239eb23d;"bebes";27;26...
4      9dc1a7de274444849c219cff195d0b71;"utilidades_d...
...                                                  ...
32946  a0b7d5a992ccda646f2d34e418fff5a0;"moveis_decor...
32947  bf4538d88321d0fd4412a93c974510e6;"construcao_f...
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c;"cama_mesa_ba...
32949  83808703fc0706a22e264b9d75f04a2e;"informatica_...
32950  106392145fca363410d287a815be6de4;"cama_mesa_ba...

[32951 rows x 1 columns]