In [18]:
import pandas as pd

In [13]:
#def load_olist_data_total():
    closed_deals = pd.read_csv('Data/closed_deals.csv')
    customers = pd.read_csv('Data/customers.csv')
    geolocation = pd.read_csv('Data/geolocation.csv')
    marketing_ql = pd.read_csv('Data/marketing_qualified_leads.csv')
    order_customer = pd.read_csv('Data/order_customer_items_paid.csv')
    order_items = pd.read_csv('Data/order_items.csv')
    order_payments = pd.read_csv('Data/order_payments.csv')
    order_reviews = pd.read_csv('Data/order_reviews.csv')
    order_status = pd.read_csv('Data/order_status_year_price.csv')
    orders = pd.read_csv('Data/orders.csv')
    prod_price = pd.read_csv('Data/prod_cat_price.csv')
    products_trans = pd.read_csv('Data/products_category_name_translation.csv')
    products = pd.read_csv('Data/products.csv')
    sellers = pd.read_csv('Data/sellers.csv')
    return pd.concat([closed_deals,customers,geolocation,marketing_ql,order_customer,
                      order_items,order_payments,order_reviews,order_status,
                      orders,prod_price,products_trans,products,sellers], axis = 0)

In [67]:
id = pd.read_csv('Join/join_customer_order_seller_id.csv')

In [68]:
id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customer_unique_id  112650 non-null  object
 1   order_id            112650 non-null  object
 2   seller_id           112650 non-null  object
dtypes: object(3)
memory usage: 2.6+ MB

In [69]:
join = pd.read_csv('Join/join_customer_order_seller_tables.csv')

In [70]:
join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5044 entries, 0 to 5043
Data columns (total 34 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   seller_id                      5044 non-null   object
 1   order_id                       5044 non-null   object
 2   customer_id                    5044 non-null   object
 3   customer_unique_id             5044 non-null   object
 4   customer_zip_code_prefix       5044 non-null   int64
 5   customer_city                  5044 non-null   object
 6   customer_state                 5044 non-null   object
 7   order_status                   5044 non-null   object
 8   order_purchase_timestamp       5044 non-null   object
 9   order_approved_at              5044 non-null   object
 10  order_delivered_carrier_date   5027 non-null   object
 11  order_delivered_customer_date  4982 non-null   object
 12  order_estimated_delivery_date  5044 non-null   object
 13  order_item_id                  5044 non-null   int64
 14  product_id                     5044 non-null   object
 15  shipping_limit_date            5044 non-null   object
 16  price                          5044 non-null   float64
 17  freight_value                  5044 non-null   float64
 18  seller_zip_code_prefix         5044 non-null   int64
 19  seller_city                    5044 non-null   object
 20  seller_state                   5044 non-null   object
 21  mql_id                         5044 non-null   object
 22  sdr_id                         5044 non-null   object
 23  sr_id                          5044 non-null   object
 24  won_date                       5044 non-null   object
 25  business_segment               5044 non-null   object
 26  lead_type                      4996 non-null   object
 27  lead_behaviour_profile         3303 non-null   object
 28  has_company                    30 non-null     float64
 29  has_gtin                       30 non-null     float64
 30  average_stock                  30 non-null     object
 31  business_type                  5039 non-null   object
 32  declared_product_catalog_size  0 non-null      float64
 33  declared_monthly_revenue       5044 non-null   int64
dtypes: float64(5), int64(4), object(25)
memory usage: 1.3+ MB

In [71]:
join.head()

,seller_id,order_id,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_status,order_purchase_timestamp,order_approved_at,...,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,34f563c82a85b99ae9e6d60db5fc2e28,055b09c841dc52097e688df51b163310,0b83af8e524bbb2aa83ba090f5be21ff,aaf2d0137050d06ef2c8752f35c0d936,13287,vinhedo,SP,delivered,2018-04-26 22:30:00,2018-04-26 22:51:17,...,2018-04-04 21:56:06,audio_video_electronics,online_medium,eagle,NaN,NaN,NaN,reseller,NaN,0
1,1e26c56af8d48424e1df0140a2401f83,11e930fd8da276f30361256c23d58196,e4d86d1da4dc444b482115d7aeb1cc3f,70e15e657d597f3c096fb696e815018f,97590,rosario do sul,RS,delivered,2018-08-08 13:14:31,2018-08-08 13:30:12,...,2018-02-26 14:02:58,construction_tools_house_garden,offline,cat,NaN,NaN,NaN,reseller,NaN,0
2,11742f81550ac064cc9a40f67151d9ad,0739104e30e20de6c0956c0889a9b9dc,066a9e746ce5eead40d2afa9bccd3d7d,227dee340139e8c2f57bf05bcb1246f8,4171,sao paulo,SP,delivered,2018-08-17 21:00:16,2018-08-17 21:10:44,...,2018-05-31 23:24:31,home_appliances,online_medium,wolf,NaN,NaN,NaN,reseller,NaN,0
3,2fa13c8bd5705d279f7ed5cc9ec61c68,0c06719338eba9ad30362c43bad76d87,627dfd4a1b84a6a7e2a5e989ba72101d,4c3e319751f31fb9c21a247247fe85e0,70680,brasilia,DF,delivered,2018-07-10 19:52:57,2018-07-10 22:31:01,...,2018-01-18 03:00:00,health_beauty,online_medium,NaN,NaN,NaN,NaN,reseller,NaN,0
4,2fa13c8bd5705d279f7ed5cc9ec61c68,0c06719338eba9ad30362c43bad76d87,627dfd4a1b84a6a7e2a5e989ba72101d,4c3e319751f31fb9c21a247247fe85e0,70680,brasilia,DF,delivered,2018-07-10 19:52:57,2018-07-10 22:31:01,...,2018-01-18 03:00:00,health_beauty,online_medium,NaN,NaN,NaN,NaN,reseller,NaN,0