In [3]:
import pandas as pd

In [1]:
def load_olist_data_clean():
    closed_deals = pd.read_csv('Data/closed_deals_cleaned.csv')
    customers = pd.read_csv('Data/customers_cleaned.csv')
    geolocation = pd.read_csv('Data/geolocation_cleaned.csv')
    marketing_ql = pd.read_csv('Data/marketing_ql_cleaned.csv')
    order_customer = pd.read_csv('Data/order_customer_cleaned.csv')
    order_items = pd.read_csv('Data/order_items_cleaned.csv')
    order_payments = pd.read_csv('Data/order_payments_cleaned.csv')
    order_reviews = pd.read_csv('Data/order_reviews_cleaned.csv')
    order_status = pd.read_csv('Data/order_status_cleaned.csv')
    orders = pd.read_csv('Data/orders_cleaned.csv')
    prod_price = pd.read_csv('Data/prod_price_cleaned.csv')
    products_trans = pd.read_csv('Data/product_category_name_translation.csv')
    products = pd.read_csv('Data/products_cleaned.csv')
    sellers = pd.read_csv('Data/sellers_cleaned.csv')
    return pd.concat([closed_deals,customers,geolocation,marketing_ql,order_customer,
                      order_items,order_payments,order_reviews,order_status,
                      orders,prod_price,products_trans,products,sellers], axis = 1)

In [4]:
data_clean = load_olist_data_clean()

In [5]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 738327 entries, 0 to 738326
Data columns (total 66 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     842 non-null     float64
 1   sdr_id                         842 non-null     object
 2   sr_id                          842 non-null     object
 3   business_segment               841 non-null     object
 4   lead_type                      836 non-null     object
 5   business_type                  832 non-null     object
 6   declared_product_catalog_size  69 non-null      float64
 7   declared_monthly_revenue       842 non-null     float64
 8   Unnamed: 0                     99441 non-null   float64
 9   customer_unique_id             99441 non-null   object
 10  customer_city                  99441 non-null   object
 11  customer_state                 99441 non-null   object
 12  Unnamed: 0                     738327 non-null  int64
 13  geolocation_lat                738327 non-null  float64
 14  geolocation_lng                738327 non-null  float64
 15  geolocation_state              738327 non-null  object
 16  Unnamed: 0                     8000 non-null    float64
 17  mql_id                         8000 non-null    object
 18  first_contact_date             8000 non-null    object
 19  origin                         7940 non-null    object
 20  Unnamed: 0                     111385 non-null  float64
 21  order_status                   111385 non-null  object
 22  order_item_id                  111385 non-null  float64
 23  price                          111385 non-null  float64
 24  freight_value                  111385 non-null  float64
 25  final_price                    111385 non-null  float64
 26  Unnamed: 0                     112650 non-null  float64
 27  order_item_id                  112650 non-null  float64
 28  product_id                     112650 non-null  object
 29  shipping_limit_date            112650 non-null  object
 30  price                          112650 non-null  float64
 31  freight_value                  112650 non-null  float64
 32  Unnamed: 0                     103886 non-null  float64
 33  payment_sequential             103886 non-null  float64
 34  payment_type                   103886 non-null  object
 35  payment_installments           103886 non-null  float64
 36  payment_value                  103886 non-null  float64
 37  Unnamed: 0                     100000 non-null  float64
 38  review_score                   100000 non-null  float64
 39  review_creation_date           100000 non-null  object
 40  review_answer_timestamp        100000 non-null  object
 41  Unnamed: 0                     155029 non-null  float64
 42  order_item_id                  310056 non-null  float64
 43  Year                           155029 non-null  float64
 44  product_category_name          155029 non-null  object
 45  category                       155029 non-null  object
 46  total_price                    2 non-null       float64
 47  Unnamed: 0                     99441 non-null   float64
 48  order_id                       99441 non-null   object
 49  customer_id                    99441 non-null   object
 50  order_purchase_timestamp       99441 non-null   object
 51  order_approved_at              99281 non-null   object
 52  order_delivered_carrier_date   97658 non-null   object
 53  order_delivered_customer_date  96476 non-null   object
 54  order_estimated_delivery_date  99441 non-null   object
 55  Unnamed: 0                     111023 non-null  float64
 56  product_id                     222044 non-null  object
 57  cat_en                         111023 non-null  object
 58  price                          2 non-null       float64
 59  product_category_name          71 non-null      object
 60  product_category_name_english  71 non-null      object
 61  product_id                     32951 non-null   object
 62  product_category_name          32341 non-null   object
 63  seller_id                      3095 non-null    object
 64  seller_city                    3095 non-null    object
 65  seller_state                   3095 non-null    object
dtypes: float64(29), int64(1), object(36)
memory usage: 377.4+ MB

In [136]:
data_clean

,sdr_id,sr_id,business_segment,lead_type,business_type,declared_product_catalog_size,declared_monthly_revenue,customer_unique_id,customer_city,customer_state,...,product_id,cat_en,price,product_category_name,product_category_name_english,product_id,product_category_name,seller_id,seller_city,seller_state
0,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,pet,online_medium,reseller,NaN,0.0,861eff4711a542e4b93843c6dd7febb0,franca,SP,...,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,NaN,beleza_saude,health_beauty,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,3442f8959a84dea7ee197c632cb2df15,campinas,SP
1,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,car_accessories,industry,reseller,NaN,0.0,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP,...,10.91,NaN,NaN,informatica_acessorios,computers_accessories,3aa071139cb16b67ca9e5dea641aaa2f,artes,d1b65fc7debc3361ea86b5f14c68d2e2,mogi guacu,SP
2,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,home_appliances,online_big,reseller,NaN,0.0,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP,...,3aa071139cb16b67ca9e5dea641aaa2f,art,NaN,automotivo,auto,96bd76ec8810374ed1b65e291975717f,esporte_lazer,ce3ad9de960102d0677a81f5d0bb7b2d,rio de janeiro,RJ
3,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,food_drink,online_small,reseller,NaN,0.0,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP,...,248.0,NaN,NaN,cama_mesa_banho,bed_bath_table,cef67bcfe19066a932b7673e239eb23d,bebes,c0f3eea2e14555b6faeea3dd58c1b1c3,sao paulo,SP
4,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,home_appliances,industry,manufacturer,NaN,0.0,345ecd01c38d18a9036ed96c73b8d066,campinas,SP,...,96bd76ec8810374ed1b65e291975717f,sports_leisure,NaN,moveis_decoracao,furniture_decor,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,51a04a8a6bdcb23deccc82b0b80742cf,braganca paulista,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
nulls_df = pd.DataFrame(round(data_clean.isna().sum()/len(data_clean),4)*100)
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

                      header_name  percent_nulls
0                          sdr_id          99.89
1                           sr_id          99.89
2                business_segment          99.89
3                       lead_type          99.89
4                   business_type          99.89
5   declared_product_catalog_size          99.99
6        declared_monthly_revenue          99.89
7              customer_unique_id          86.53
8                   customer_city          86.53
9                  customer_state          86.53
10                geolocation_lat           0.00
11                geolocation_lng           0.00
12              geolocation_state           0.00
13                         mql_id          98.92
14             first_contact_date          98.92
15                         origin          98.92
16                   order_status          84.91
17                  order_item_id          84.91
18                          price          84.91
19                  freight_value          84.91
20                    final_price          84.91
21                  order_item_id          84.74
22                     product_id          84.74
23            shipping_limit_date          84.74
24                          price          84.74
25                  freight_value          84.74
26             payment_sequential          85.93
27                   payment_type          85.93
28           payment_installments          85.93
29                  payment_value          85.93
30                   review_score          86.46
31           review_creation_date          86.46
32        review_answer_timestamp          86.46
33                  order_item_id          58.01
34                           Year          79.00
35          product_category_name          79.00
36                       category          79.00
37                    total_price         100.00
38                       order_id          86.53
39                    customer_id          86.53
40       order_purchase_timestamp          86.53
41              order_approved_at          86.55
42   order_delivered_carrier_date          86.77
43  order_delivered_customer_date          86.93
44  order_estimated_delivery_date          86.53
45                     product_id          69.93
46                         cat_en          84.96
47                          price         100.00
48          product_category_name          99.99
49  product_category_name_english          99.99
50                     product_id          95.54
51          product_category_name          95.62
52                      seller_id          99.58
53                    seller_city          99.58
54                   seller_state          99.58

In [122]:
data_clean['final_price'] = data_clean['final_price'].dropna()

In [123]:
data_clean['final_price'].head

<bound method NDFrame.head of 0         124.76
1         153.20
2         176.78
3         179.12
4          38.72
           ...
738322       NaN
738323       NaN
738324       NaN
738325       NaN
738326       NaN
Name: final_price, Length: 738327, dtype: float64>

In [115]:
data_clean['payment_value'].head()

0     99.33
1     24.39
2     65.71
3    107.78
4    128.45
Name: payment_value, dtype: float64

In [116]:
data_clean['payment_value'] = data_clean['payment_value'].dropna()

In [124]:
data_clean['payment_value'].head()

0     99.33
1     24.39
2     65.71
3    107.78
4    128.45
Name: payment_value, dtype: float64

In [127]:
data_clean['price']

        price   price  price
0       109.9   58.90    NaN
1       135.0  239.90    NaN
2       159.9  199.00    NaN
3       159.9   12.99    NaN
4        30.0  199.90    NaN
...       ...     ...    ...
738322    NaN     NaN    NaN
738323    NaN     NaN    NaN
738324    NaN     NaN    NaN
738325    NaN     NaN    NaN
738326    NaN     NaN    NaN

[738327 rows x 3 columns]

In [101]:
data_clean.to_csv("data_clean.csv")

In [138]:
pd.read_csv('Data/closed_deals_cleaned.csv')

,Unnamed: 0,sdr_id,sr_id,business_segment,lead_type,business_type,declared_product_catalog_size,declared_monthly_revenue
0,0,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,pet,online_medium,reseller,NaN,0.0
1,1,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,car_accessories,industry,reseller,NaN,0.0
2,2,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,home_appliances,online_big,reseller,NaN,0.0
3,3,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,food_drink,online_small,reseller,NaN,0.0
4,4,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,home_appliances,industry,manufacturer,NaN,0.0
...,...,...,...,...,...,...,...,...
837,837,45749fb708130f78d0db07d8d80f030b,a8387c01a09e99ce014107505b92388c,home_decor,offline,reseller,NaN,0.0
838,838,370c9f455f93a9a96cbe9bea48e70033,4b339f9567d060bcea4f5136b9f5949e,construction_tools_house_garden,online_big,reseller,132.0,200000.0
839,839,370c9f455f93a9a96cbe9bea48e70033,a8387c01a09e99ce014107505b92388c,computers,online_medium,reseller,NaN,0.0
840,840,068066e24f0c643eb1d089c7dd20cd73,d3d1e91a157ea7f90548eef82f1955e3,pet,online_beginner,reseller,NaN,0.0
841,841,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,household_utilities,industry,manufacturer,NaN,0.0