In [1]:
import pandas as pd

In [13]:
#def load_olist_data_total():
    closed_deals = pd.read_csv('Data/closed_deals.csv')
    customers = pd.read_csv('Data/customers.csv')
    geolocation = pd.read_csv('Data/geolocation.csv')
    marketing_ql = pd.read_csv('Data/marketing_qualified_leads.csv')
    order_customer = pd.read_csv('Data/order_customer_items_paid.csv')
    order_items = pd.read_csv('Data/order_items.csv')
    order_payments = pd.read_csv('Data/order_payments.csv')
    order_reviews = pd.read_csv('Data/order_reviews.csv')
    order_status = pd.read_csv('Data/order_status_year_price.csv')
    orders = pd.read_csv('Data/orders.csv')
    prod_price = pd.read_csv('Data/prod_cat_price.csv')
    products_trans = pd.read_csv('Data/products_category_name_translation.csv')
    products = pd.read_csv('Data/products.csv')
    sellers = pd.read_csv('Data/sellers.csv')
    return pd.concat([closed_deals,customers,geolocation,marketing_ql,order_customer,
                      order_items,order_payments,order_reviews,order_status,
                      orders,prod_price,products_trans,products,sellers], axis = 0)

In [67]:
id = pd.read_csv('Join/join_customer_order_seller_id.csv')

In [68]:
id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customer_unique_id  112650 non-null  object
 1   order_id            112650 non-null  object
 2   seller_id           112650 non-null  object
dtypes: object(3)
memory usage: 2.6+ MB

In [69]:
join = pd.read_csv('Join/join_customer_order_seller_tables.csv')

In [70]:
join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5044 entries, 0 to 5043
Data columns (total 34 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   seller_id                      5044 non-null   object
 1   order_id                       5044 non-null   object
 2   customer_id                    5044 non-null   object
 3   customer_unique_id             5044 non-null   object
 4   customer_zip_code_prefix       5044 non-null   int64
 5   customer_city                  5044 non-null   object
 6   customer_state                 5044 non-null   object
 7   order_status                   5044 non-null   object
 8   order_purchase_timestamp       5044 non-null   object
 9   order_approved_at              5044 non-null   object
 10  order_delivered_carrier_date   5027 non-null   object
 11  order_delivered_customer_date  4982 non-null   object
 12  order_estimated_delivery_date  5044 non-null   object
 13  order_item_id                  5044 non-null   int64
 14  product_id                     5044 non-null   object
 15  shipping_limit_date            5044 non-null   object
 16  price                          5044 non-null   float64
 17  freight_value                  5044 non-null   float64
 18  seller_zip_code_prefix         5044 non-null   int64
 19  seller_city                    5044 non-null   object
 20  seller_state                   5044 non-null   object
 21  mql_id                         5044 non-null   object
 22  sdr_id                         5044 non-null   object
 23  sr_id                          5044 non-null   object
 24  won_date                       5044 non-null   object
 25  business_segment               5044 non-null   object
 26  lead_type                      4996 non-null   object
 27  lead_behaviour_profile         3303 non-null   object
 28  has_company                    30 non-null     float64
 29  has_gtin                       30 non-null     float64
 30  average_stock                  30 non-null     object
 31  business_type                  5039 non-null   object
 32  declared_product_catalog_size  0 non-null      float64
 33  declared_monthly_revenue       5044 non-null   int64
dtypes: float64(5), int64(4), object(25)
memory usage: 1.3+ MB

In [17]:
best_item = pd.read_csv('Join/groupby_order_item_sum_payment.csv')

In [18]:
best_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_item_id       21 non-null     int64
 1   sum(payment_value)  21 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 464.0 bytes

In [19]:
best_item['order_item_id'] = best_item['order_item_id'].astype(str)

In [20]:
best_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_item_id       21 non-null     object
 1   sum(payment_value)  21 non-null     float64
dtypes: float64(1), object(1)
memory usage: 464.0+ bytes

In [21]:
geolocation = pd.read_csv('Data/geolocation.csv')

In [22]:
geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [23]:
closed_deals = pd.read_csv('Data/closed_deals_dataset.csv')

In [24]:
closed_deals

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,df9a2abe2ad3f2d8758b675ac8331ecf,bfcc27719640628da877db48b672b169,45749fb708130f78d0db07d8d80f030b,a8387c01a09e99ce014107505b92388c,2018-08-01 20:22:31,home_decor,offline,cat,NaN,NaN,NaN,reseller,NaN,0.0
838,8723201570415eb23b4f095d8c20a27c,4a82eab98441aeb64566e2776c1fb2b6,370c9f455f93a9a96cbe9bea48e70033,4b339f9567d060bcea4f5136b9f5949e,2018-09-27 18:58:41,construction_tools_house_garden,online_big,wolf,NaN,NaN,NaN,reseller,132.0,200000.0
839,2e57665b8faf05c967a801eb5aedfa0a,55031883943971ca22db6894574cfe2c,370c9f455f93a9a96cbe9bea48e70033,a8387c01a09e99ce014107505b92388c,2018-06-06 20:15:26,computers,online_medium,wolf,NaN,NaN,NaN,reseller,NaN,0.0
840,40955be51cc85c5a5a6cdd12b19e9f10,c0e933c238e41f0cd459d6025ee9b364,068066e24f0c643eb1d089c7dd20cd73,d3d1e91a157ea7f90548eef82f1955e3,2018-03-06 15:52:23,pet,online_beginner,cat,NaN,NaN,NaN,reseller,NaN,0.0
841,8a6492305a5fbcdcdd1a7f5a90764c07,1bba9c94eb5c4e82fba9f7286fe81025,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,2018-05-02 13:31:32,household_utilities,industry,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0

In [25]:
pd.read_csv('Data/prod_cat_price.csv')

ParserError: Error tokenizing data. C error: EOF inside string starting at row 111024